PORT=3000
OSRM_BASE_URL=http://router.project-osrm.org

SESSION_TTL_MS=3600000
GC_INTERVAL_MS=300000

# Constants
PICKUP_PROXIMITY_KM=5.0
DROPOFF_PROXIMITY_KM=5.0
JACCARD_THRESHOLD=0.1
GEOHASH_PRECISION=5
MAX_DETOUR_SEC=1200
MAX_DETOUR_RATIO=0.4
MAX_DEPARTURE_DIFF_MIN=30